<h1>Your Profile</h1>
<p>
    <%= button_to 'Edit Profile', profile_edit_path, method: :get, type: 'button' %>
</p>

<% if @profile.avatar.exists? %>
    <%= image_tag @profile.avatar.url(:square) %>
<% end %>

<h5>Email Address:</h5>
<%= @current_user.email %>

<h5>Name:</h5>
<%= @current_user.profile.full_name %>

<h5>Address:</h5>
<% if @address.present? %>
    <%= @address.full_address %>
    <%= button_to 'Change Address', address_edit_path, method: :get, type: 'button' %>
<% elsif @address.nil? %>
    <p>No address given. Please add your address now.</p>
    <%= button_to 'Enter Address', address_edit_path, method: :get, type: 'button' %>
<% end %>

    


<h5>Shops Completed:</h5>
<%= @current_user.profile.shopper_flytes %>

<h5>Flytes Delivered:</h5>
<%= @current_user.profile.flyer_flytes %>



