<h1>Edit Listing for:</h1>
<h2><%= @listing.item_description %></h2>

<%= form_with model: @listing, multipart: true, url: listing_path do |f| %>
    <div class="field">
    <%= f.label :shopper_city %><br />
    <%= f.text_field :shopper_city, id: :listing_shopper_city, required: true %>
  </div>

    <div class="field">
    <%= f.label :flyer_city %><br />
    <%= f.text_field :flyer_city, id: :listing_flyer_city, required: true %>
  </div>

    <div class="field">
    <%= f.label :item_description %><br />
    <%= f.text_area :item_description, rows: 4, id: :listing_item_description, required: true %>
  </div>

    <div class="field">
    <%= f.label :item_photo %><br />
    <%= f.file_field :item_photo, required: true %>
  </div>

    <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price, id: :listing_price, required: true %>
  </div>

    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
<% end %>