<%= image_tag @listing.item_photo.url(:medium) %>

<h1>
  <strong>From:</strong>
  <%= @listing.flyer_city %>
</h1>

<h2>
  <strong>To:</strong>
  <%= @listing.shopper_city %>
</h2>
<p>
  <strong>Item Description:</strong><br />
  <%= @listing.item_description %>
</p>


<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price / 100) %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= Listing.listing_created_by(@listing.user_id) %>
</p>

<%= button_to 'Respond to Listing', new_listing_response_path(@listing), method: :get, type: 'button', class: 'myButton-left' %>
