<p>
  <strong>Item Description:</strong><br />
  <%= @listing.item_description %>
</p>

<p>
  <strong>Purchase from:</strong>
  <%= @listing.flyer_city %>
</p>

<p>
  <strong>Deliver to:</strong>
  <%= @listing.shopper_city %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price / 100) %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= Listing.listing_created_by(@listing.user_id) %>
</p>

<%= link_to 'Back', listings_path %>