<%= button_to 'New Listing', new_listing_path, method: :get, type: 'button', class: 'myButton' %>

<div class="cards">
<% @listings.each do |listing| %>
      
    <%= link_to listing, class: "card" do %>
        <span class="card-header" style="background-image: url(<%= listing.item_photo.url(:medium) %>)">
            <span class="card-title">
                <h3><%= listing.flyer_city %></h3>
            </span>
        </span>
        <span class="card-summary">
        Delivery to:
            <h4><%= listing.shopper_city %></h4>
            <h4>
                <%= number_to_currency(listing.price / 100) %>
            </h4>
        </span>
        
        <span class="card-meta">
            Posted: <%= listing.updated_at.strftime("%b %dth %Y") %>
        </span>
    <% end %>
<% end %>
</div>

    