<h1>Confirm Flyte</h1>

<%= form_for @flyte,remote: true, html: { class: "basic-grey" } do |f| %>
  <% if @flyte.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@flyte.errors.count, "error") %>
        prohibited this flyte from being saved:
      </h2>
      <ul>
        <% @flyte.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :user_id, value: @listing.user_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :listing_id, value: @listing.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :flyer_id, value: @response.user_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :flyer_depart, value: @response.flyer_city_end_date %>
  </div>
  <div class="field">
    <%= f.hidden_field :flyer_arrive, value: @response.shopper_city_arrival_date %>
  </div>
  <div class="field">
    <%= f.hidden_field :deposit_amount, value: @listing.price %>
  </div> 
  <div class="field">
    <%= f.hidden_field :authenticity_token, form_authenticity_token %>
  </div> 
  <div>
    <p>
        <strong>Item:</strong> <%= @listing.item_description %>
    </p>    
    <p>
        <strong>From:</strong> <%= @listing.flyer_city %>
    </p> 
    <p>
        <strong>To:</strong> <%= @listing.shopper_city %>
    </p>    
  </div>
  <div>
  <% if user_signed_in? %>
    <%= render 'partials/charge_form', flyte: @flyte, response: @response, listing: @listing, user: current_user %>
  <% else %>
    <%= link_to new_user_session_path, id: 'customButton', class: 'stripe-button-el' do %>
      <span style="display: block; min-height: 30px;">Pay Now</span>
    <% end %>
  <% end %>
</div>
<% end %>

<%= link_to 'Back', flytes_path %>