<h1>Received Responses:</h1>
<div class="cards">
<% @received_responses.reverse_each do |response| %>
      
    <%= link_to new_flyte_path(listing_id: response.listing_id), class: "card" do %>
        <span class="card-header" style="background-image: url(<%= Profile.find(response.user_id).avatar.url(:square) %>)">
            <span class="card-title">
                <h3><%= Listing.find(response.listing_id).item_description %></h3>
            </span>
        </span>
        <span class="card-summary">
        Will be in: <h4><%= Listing.find(response.listing_id).flyer_city %></h4>
            <%= response.flyer_city_start_date.strftime("%b %dth") %> -
            <%= response.flyer_city_end_date.strftime("%b %dth %Y") %>
        </span>
        
        <span class="card-meta">
            Responded: <%= response.updated_at.strftime("%b %dth %Y") %>
        </span>
    <% end %>
<% end %>
</div>



<h1>Sent Responses:</h1>
<div class="cards">
<% @sent_responses.reverse_each do |response| %>
      
    <%= link_to Listing.find(response.listing_id), class: "card" do %>
        <span class="card-header" style="background-image: url(<%= Listing.find(response.listing_id).item_photo.url(:square) %>)">
            <span class="card-title">
                <h3><%= Listing.find(response.listing_id).flyer_city %></li></h3>
            </span>
        </span>
        <span class="card-summary">
        Responded to: <h4><%= Profile.find(response.user_id).full_name %></h4>
        Item:
            <h4><%= Listing.find(response.listing_id).item_description %></h4>       
        <span class="card-meta">
            Posted: <%= response.updated_at.strftime("%b %dth %Y") %>
        </span>
    <% end %>
<% end %>
</div>
