<h1>Your Profile</h1>

<h5>Name:</h5>
<%= @current_user.profile.full_name %>

<h5>Address:</h5>
<%= @current_user.address.full_address %>

<h5>Email Address:</h5>
<%= @current_user.email %>

<h5>Shops Completed:</h5>
<%= @current_user.profile.shopper_flytes %>

<h5>Flytes Delivered:</h5>
<%= @current_user.profile.flyer_flytes %>

<p>
    <%= link_to 'Edit Profile', profile_edit_path, :class => 'btn btn-primary' %>
</p>
