<!DOCTYPE html>
<html>
  <head>
    <title>Flymystuff</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.png'), rel: 'icon', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/header' %>
    
    <main class="main">

      <% if notice.present? %>
      <div class="notice message">
        <p><%= notice %></p>
      </div>
      <% elsif alert.present? %>
      <div class="alert message">
        <p><%= alert %></p>
      </div>
      <% else %>
      <% end %>

      <%= yield %>

    </main>
  </body>
</html>
